{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clans </title>
     
     {% load static %}
     <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
     


</head>
<body>

    <div class="clans-list">
        {% for clan in clans %}
        <a href="{% url 'clan_detail' pk=clan.pk %}" class="clan-item">
            <div class="clan-item">
                <h2>{{ clan.clan_name }}</h2>
                <p>{{ clan.clan_details|truncatewords:20 }} ...see more</p>  <!-- Short preview -->
            </div>
        </a>
        {% endfor %}
    </div>



  <!-- Include the external JavaScript file at the end of the body -->
  {% load static %}
 <script src="{% static 'js/scripts.js' %}"></script>
  
</body>
</html>
{% endblock %}