{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Edit Profile </title>
     
     {% load static %}
     <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
     {% load custom_filters %}


</head>
<body>

    <div class="edit-profile-container">
        <h2>Edit Profile</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>



  {% load static %}
 <script src="{% static 'js/scripts.js' %}"></script>
  
</body>
</html>
{% endblock %}