{% extends 'base.html' %}

{% block content %}
<main class="index-main" id="posts-container">
    <!-- Placeholder for dynamically loaded posts -->
</main>

<!-- Inject URL for sorted posts -->
<script>
    // Inject the URL for sorted posts from Django template
    var sortedPostsUrl = "{% url 'get_sorted_posts' %}";
    console.log("sortedPostsUrl:", sortedPostsUrl);
</script>

<!-- Include the external JavaScript file at the end of the body -->
{% load static %}
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}

