{% extends 'basenon.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
     
     
     {% load static %}
     <link rel="stylesheet" href="{% static 'css/style.css' %}"> 

     {% load custom_filters %}
     


</head>
<body>



    <div class="sign-up-container mt-5">
        <div class="form-container">
            <form method="post" id="sign-up-form">
                {% csrf_token %}
                <h2 class="text-center mb-4">Sign Up</h2>
    
                <!-- Display form errors -->
                {{ form.non_field_errors }}
                
                <!-- Render each field in the form -->
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>
    
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                </div>
    
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
    
                <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
    
                <div class="terms-container">
                    <input type="checkbox" id="id_agree" name="agree" required>
                    <label 
                    class="i-agree-to-terms-label"
                    for="id_agree">
                        I agree to the 
                        <a href="#" target="_blank">Terms and Conditions</a>.
                    </label>
                </div>
    
                <button type="submit" id="submitButton">Sign Up</button>
    
                <li class="already-have-account">Already have an account? <a href="{% url 'login' %}">Log In here...</a></li>
            </form>
        </div>
    </div>



{% load static %}
 <script src="{% static 'js/scripts.js' %}"></script>
  
</body>
</html>
{% endblock %}
