<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    {% load custom_filters %}

</head>
<body>
    <div class="quote-container" id="quote-container">
        <!-- Loop through the page_obj to display quotes -->
        {% for quote in page_obj %}
            <div class="quote-item">
                <h2>{{ quote.quote_title }}</h2>
                <p>{{ quote.quote_details|linebreaks|safe }}</p>
            </div>
        {% endfor %}

        {% if page_obj.has_next %}
        <button class="see-more-button" id="see-more-btn">SEE MORE QUOTES</button>
        {% endif %}
    
        
   {% load static %}
   <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>